        .modal-body {
            width: 800px;
        }
        
        .name_abono {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
            padding: 30px;
        }
        
        .price {
            border: none;
            background: transparent;
        }
        
        select {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            font-size: 16px;
        }
        
        .register-box h1 {
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-size: 22px;
        }
        
        .register-box label {
            margin: 0;
            padding: 0;
            font-weight: bold;
        }
        
        .register-box button {
            border: none;
            outline: none;
            height: 40px;
            background: #4e494a;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
            padding-bottom: 20px;
        }
        
        .register-box button:hover {
            cursor: pointer;
            background: #FFFF;
            color: #000;
        }
        
        .register-box a {
            text-decoration: none;
            font-size: 12px;
            line-height: 20px;
            color: darkgrey;
        }
        
        .register-box a:hover {
            color: #fff;
        }
        
        .button-check {
            padding: 30px;
        }
        
        @media screen and (max-width: 300px) {
            .col-25,
            .col-75,
            input[type=text] {
                width: 10%;
                margin-top: 0;
            }
        }
        
        @media (max-width: 360px) {
            .register-box {
                width: 85%;
                height: 80%;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                box-sizing: border-box;
                padding: 10px 10px;
                border-radius: 25px;
            }
            .register-box h1 {
                margin: 0;
                padding: 40px 0px 10px;
                text-align: center;
                font-size: 22px;
            }
        }