<nav class="main-menu">
    <ul>
        <li>
            <a href="#/admin/dashboard">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Inicio
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#/admin/products">
                <i class="fa fa-id-card fa-2x"></i>
                <span class="nav-text">
                    Abonados
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#/admin/paquetes">
                <i class="fa fa-money-check-alt fa-2x"></i>
                <span class="nav-text">
                    Paquetes
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#/admin/partidos">
                <i class="fa fa-futbol fa-3x"></i>
                <span class="nav-text">
                     Partidos
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#/admin/estadio">
                <i class="fa fa-boxes fa-2x"></i>
                <span class="nav-text">
                    Estadio
                </span>
            </a>

        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#/login">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Cerrar sesión
                </span>
            </a>
        </li>
    </ul>
</nav>