<div class="contenedor mt-4">
    <div class="contenedor-2">
        <div class="card" **ngFor="let paquete of paquetes">
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.publimetro.co%2Fco%2Fdeportes%2F2018%2F05%2F15%2Fmundial-rusia-2018-lista-oficial-de-23-jugadores-de-colombia.html&psig=AOvVaw3Ij_zPX0yz6PZqeVzc5I3C&ust=1621799364048000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLDtpNyp3fACFQAAAAAdAAAAABAU"
                class="card-img-top" alt="Lamp" width="32" height="32">
            <div class="card-body">
                <h5 class="card-title">{{ paquete.nombre_paquete }}</h5>
                <b>{{ paquete.precio }}</b>
                <p class="card-text">
                    {{ paquete.descripcion_paquete }}
                </p>
                <a (click)="comprar()" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>



<app-payment></app-payment>

<!-- <div class="contenedor-3" *ngIf="product.image.length > 0">
    <div class="contenedor-4">
        <span class="my-span">
            <a href="#" style="color: #2D2D2A; display: block;     cursor: pointer;
            text-decoration: none;">
                <span class="my-span-2">
                    <i class="fas fa-plus my-icon" (click)="pagar()"></i>
                </span>
        </a>
        </span>
        <div>
            <div class="contenedor-5">
                <div class="contenedor-6">
                    <img alt="{{paquete.nombre_paquete}}" height="auto" width="auto" [src]="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rcnradio.com%2Fdeportes%2Ffutbol-colombiano%2Ffiltran-imagen-y-video-de-posible-nueva-camiseta-de-la-seleccion&psig=AOvVaw3Ij_zPX0yz6PZqeVzc5I3C&ust=1621799364048000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLDtpNyp3fACFQAAAAAdAAAAABAO">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contenedor-7" *ngIf="product.image.length > 0">
    <div>
        <div class="contenedor-8">
            <div class="contenedor-9">
                <div class="contenedor-10">
                    <h4 style="font-weight: 500; margin: 0 0 5px;">{{ product.name }} </h4>
                </div>
                <div class="contenedor-11">
                    <div class="contenedor-12">
                        <small class="my-small">{{ product.category }}</small>
                        <div>
                            <strong class="my-strong">${{ product.price }} &nbsp;COP</strong>
                        </div>
                    </div>
                    <div class="contenedor-13">
                        <div class="contenedor-14">

                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor-15">
                {{ product.description }}
            </div>
        </div>
    </div>
</div> -->