<div class="contenedor">
    <div class="container mt-4 fix-margin ">
        <div class="d-flex no-block h1-custom justify-content-between" style="padding-right: 30px; margin-bottom: 10px;">
            <h4 class="card-title" style="color: #fff;"><span class="lstick"></span>Listado de abonados</h4>
            <div class="d-flex flex-end">
            </div>
        </div>
        <div class="row shadow w-100 ">
            <div class="col">
                <!-- <ul class="list-group list-contend">
                    <li class="list-group-item d-flex align-items-center justify-content-between p-4" *ngFor="let paquete of paquetes">
                        <div>
                            {{ paquete.nombre_paquete }}
                        </div>
                        <div>
                            {{ paquete.precio }}
                        </div>
                        <div>
                            {{ paquete.descripcion_paquete }}
                        </div>
                        <div>
                            <i class="fas fa-eye md-36 m-1 eye-icon" (click)="showModalView(paquete._id)"></i>
                            <i class="fas fa-edit md-36 m-1 edit-icon" (click)="showModalEdit(paquete)"></i>
                            <i class="fas fa-trash md-36 m-1 trash-icon" (click)="deleteItem(paquete)"></i>
                        </div>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="modalAddProduct" tabindex="-1" aria-labelledby="modalAddProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddProductLabel">Agregar abonado</h5>
            </div>
            <div class="modal-body">
                <div class="form-row my-2">
                    <div class="col">
                        <label for="nameProduct">Nombre</label>
                        <input type="text" id="nameProduct" [(ngModel)]="name" class="form-control" placeholder="Nombre">
                    </div>
                </div>

                <div class="form-row my-2">
                    <div class="col">
                        <label for="desProduct">Descripción</label>
                        <input type="text" id="desProduct" [(ngModel)]="description" class="form-control" placeholder="Descripción">
                    </div>
                </div>

                <div class="form-row my-2">
                    <div class="col">
                        <label for="priceProduct">Precio</label>
                        <input type="text" id="priceProduct" [(ngModel)]="price" class="form-control" placeholder="Precio">
                    </div>

                </div>

                <div class="form-row my-2">
                    <div class="col">
                        <label for="cateProduct">Categoría</label>
                        <input type="text" id="cateProduct" [(ngModel)]="category" class="form-control" placeholder="Categoria">
                    </div>
                </div>

                <div class="form-row my-2">
                    <div class="col">
                        <label for="stockProduct">Stock</label>
                        <input type="text" id="stockProduct" [(ngModel)]="stock" class="form-control" placeholder="Stock">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalService.cerarModal('modalAddProduct')" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="saveProduct()">Agregar</button>
            </div>
        </div>
    </div>
</div> -->