<div class="contenedor">
    <div class="container mt-4 fix-margin ">
        <div class="d-flex no-block h1-custom justify-content-between" style="padding-right: 30px; margin-bottom: 10px;">
            <h4 class="card-title" style="color: #fff;"><span class="lstick"></span>Listado de paquetes</h4>
            <div class="d-flex flex-end">
                <button class="btn btn-block btn-sm" style="background-color: white; color: black;" (click)="showModalAdd()">Agregar paquete</button>
            </div>
        </div>
        <div class="row shadow w-100 ">
            <div class="col">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Tipo de paquete</th>
                            <th scope="col">Precio del paquete</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let paquete of paquetes">
                        <th scope="row">{{ paquete.nombre_paquete }}</th>
                        <td>{{ paquete.precio }}</td>
                        <td>{{ paquete.descripcion_paquete }}</td>


                        <td>
                            <i class="fas fa-eye md-36 m-1 eye-icon" (click)="showModalView(paquete._id)"></i>
                            <i class="fas fa-edit md-36 m-1 edit-icon" (click)="showModalEdit(paquete)"></i>
                            <i class="fas fa-trash md-36 m-1 trash-icon" (click)="deleteItem(paquete)"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAddPaquete" tabindex="-1" aria-labelledby="modalAddProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddProductLabel">Agregar paquete</h5>
            </div>
            <div class="modal-body">
                <div class="form-row my-2">
                    <div class="col">
                        <label for="nombre_paquete">Nombre Paquete</label>
                        <input type="text" id="nombre_paquete" [(ngModel)]="nombre_paquete" class="form-control" placeholder="Nombre estadio">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="precio">Precio</label>
                        <input type="text" id="precio" [(ngModel)]="precio" class="form-control" placeholder="Nombre estadio">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="descripcion_paquete">Descripcion</label>
                        <input type="text" id="descripcion_paquete" [(ngModel)]="descripcion_paquete" class="form-control" placeholder="Cantidad de espectadores">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="descripcion_paquete">Partidos</label>
                        <select class="custom-select" id="fk_partidos" [(ngModel)]="fk_partidos">
                            <option *ngFor="let partido of partidos" [value]="partido._id">
                                {{ partido.equipo_local }} vs {{ partido.equipo_visita }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalService.cerarModal('modalAddPaquete')" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="savePaquete()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalViewPaquete" tabindex="-1" aria-labelledby="modalViewPaqueteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalViewPaqueteLabel">Detalle paquete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-row my-2">
                    <div class="col">
                        <label for="nombre_paquete">Nombre Paquete</label>
                        <input type="text" id="nombre_paquete" readonly class="form-control" placeholder="Nombre estadio">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="precio">Precio</label>
                        <input type="text" id="precio" readonly class="form-control" placeholder="Nombre estadio">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="descripcion_paquete">Descripcion</label>
                        <input type="text" id="descripcion_paquete" readonly class="form-control" placeholder="Cantidad de espectadores">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="descripcion_paquete">Partidos</label>
                        <select class="custom-select" id="fk_partidos">
                            <option *ngFor="let partido of partidos" [value]="partido._id">
                                {{ partido.equipo_local }} vs {{ partido.equipo_visita }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalService.cerarModal('modalViewPaquete')" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>