<div class="contenedor">
    <div class="container mt-4 fix-margin ">
        <div class="d-flex no-block h1-custom justify-content-between" style="padding-right: 30px; margin-bottom: 10px;">
            <h4 class="card-title" style="color: #fff;"><span class="lstick"></span>Listado de abonados</h4>
            <div class="d-flex flex-end">
            </div>
        </div>
        <div class="row shadow w-100 ">
            <div class="col">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Nombre usuario</th>
                            <th scope="col">Nombre paquete</th>
                            <th scope="col">Precio abono</th>
                            <th scope="col">Estadio</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let abonado of abonados">
                            <th scope="row">{{ abonado.fk_usuario.nombre }}</th>
                            <td>{{ abonado.fk_paquete.nombre_paquete }}</td>
                            <td>{{ abonado.fk_paquete.precio }}</td>
                            <td>{{ abonado.fk_estadio.nombre }}</td>
                            <td>
                                <i class="fas fa-eye md-36 m-1 eye-icon" (click)="showModalView(paquete._id)"></i>
                                <i class="fas fa-edit md-36 m-1 edit-icon" (click)="showModalEdit(paquete)"></i>
                                <i class="fas fa-trash md-36 m-1 trash-icon" (click)="deleteItem(paquete)"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>