.contenedor {
    /* background-image: linear-gradient(to top, #ffa5b7, #fbbdd8, #f6d5ee, #f5ebfb, #ffffff); */
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1597874040470-5df6cc1f4bff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 center;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-attachment: fixed;
}
.list-contend {
    /* box-shadow: #f7edef94 0px 4px 12px; */
    box-shadow: #04040494 0px 4px 12px;
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    .fix-margin {
        margin-left: 95px!important;
    }
    .h1-custom {
        display: inherit !important;
    }
}

.trash-icon {
    color: red;
}

.eye-icon {
    color: #f94569;
}

.edit-icon {
    color: #28c584;
}

.trash-icon,
.edit-icon,
.eye-icon:hover {
    cursor: pointer;
}

.lstick {
    width: 2px;
    background: #FFA5B7;
    height: 30px;
    margin-left: -20px;
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle; 
}