<div class="contenedor">
    <div class="container mt-4 fix-margin ">
        <div class="d-flex no-block h1-custom justify-content-between" style="padding-right: 30px; margin-bottom: 10px;">
            <h4 class="card-title" style="color: #fff;"><span class="lstick"></span>Listado de abonados</h4>
            <div class="d-flex flex-end">
            </div>
        </div>
        <div class="row shadow w-100 ">
            <div class="col">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Nombre usuario</th>
                            <th scope="col">Nombre paquete</th>
                            <th scope="col">Precio abono</th>
                            <th scope="col">Estadio</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let abonado of abonados">
                            <th scope="row">{{ abonado.fk_usuario.nombre }}</th>
                            <td>{{ abonado.fk_paquete.nombre_paquete }}</td>
                            <td>{{ abonado.fk_paquete.precio }}</td>
                            <td>{{ abonado.fk_estadio.nombre }}</td>
                            <td>
                                <i class="fas fa-eye md-36 m-1 eye-icon" (click)="showModalView(abonado._id)"></i>
                                <i class="fas fa-trash md-36 m-1 trash-icon" (click)="deleteItem(abonado)"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalViewProduct" tabindex="-1" aria-labelledby="modalViewProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalViewProductLabel">Detalle abonado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-row my-2">
                    <div class="col">
                        <label for="">Nombre</label>
                        <input type="text" id="" readonly class="form-control" placeholder="{{ data_usuario.nombre }}">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="">Documento</label>
                        <input type="text" id="" readonly class="form-control" placeholder="{{ data_usuario.numero_documento }}">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="">Ciudad</label>
                        <input type="text" id="" readonly class="form-control" placeholder="{{ data_usuario.ciudad }}">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="">Direccin</label>
                        <input type="text" id="" readonly class="form-control" placeholder="{{ data_usuario.direccion }}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalService.cerarModal('modalViewProduct')" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>