<div class="contenedor">


    <div class="container ">
        <div class="d-flex no-block h1-custom">
            <h4 class="card-title" style="color: rgb(252, 252, 248);"><span class="lstick"></span>Administración Abonados</h4>
        </div>
        <div class="content">
            <div class="card-custom">
                <div class="icon">
                    <a href="#/admin/products">
                        <i class="fa fa-address-card-o md-36"></i>
                    </a>
                </div>
                <p class="title">Abonados</p>
                <p class="text">Añade, edita o elimina los abonados.</p>
            </div>
            <div class="card-custom">
                <div class="icon">
                    <a href="#/admin/products">
                        <i class="fa fa-folder md-36"></i>
                    </a>
                </div>
                <p class="title">Paquetes</p>
                <p class="text">Añade, edita o elimina los paquetes.</p>
            </div>
            <div class="card-custom">
                <div class="icon">
                    <a href="#/admin/products">
                        <i class="fa fa-futbol-o md-36"></i>
                    </a>
                </div>
                <p class="title">Partidos</p>
                <p class="text">Añade, edita o elimina los partidos.</p>
            </div>
            <div class="card-custom">
                <div class="icon">
                    <a href="#/admin/products">
                        <i class="fa fa-futbol-o md-36"></i>
                    </a>
                </div>
                <p class="title">Estadios</p>
                <p class="text">Añade, edita o elimina los estadios.</p>
            </div>
        </div>

    </div>

</div>