<div class="modal fade" id="modalLoading" tabindex="-1" aria-labelledby="modalLoadingLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered vertical-align-center">
      <div class="modal-content" style="border-radius: 50px; box-shadow: 0px 0px 20px 0px #00000094;">
        <div class="modal-body">
          <h2 class="title-loading">
            Por favor espere...
          </h2>
          <div class="imagen-seleccion">
            <img src="../../../assets/images/fotoSelec.png" alt="">
          </div>
          <!-- <app-image-loading></app-image-loading> -->
          <app-spinner></app-spinner>
        </div>
      </div>
    </div>
  </div>

</div>