<div class="contenedor">
    <div class="container mt-4 fix-margin ">
        <div class="d-flex no-block h1-custom justify-content-between" style="padding-right: 30px; margin-bottom: 10px;">
            <h4 class="card-title" style="color: #fff;"><span class="lstick"></span>Listado de estadios</h4>
            <div class="d-flex flex-end">
                <button class="btn btn-block btn-sm" style="background-color: white; color: black;" (click)="showModalAdd()">Agregar estadio</button>
            </div>
        </div>
        <div class="row shadow w-100 ">
            <div class="col">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del estadio</th>
                            <th scope="col">Capacidad del estadio</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let estadio of estadios">
                        <th scope="row">{{ estadio.nombre }}</th>
                        <td>{{ estadio.espectadores }}</td>
                        <td>{{ estadio.capacidad }}</td>


                        <td>
                            <i class="fas fa-eye md-36 m-1 eye-icon" (click)="showModalView(estadio._id)"></i>
                            <i class="fas fa-edit md-36 m-1 edit-icon" (click)="showModalEdit(estadio)"></i>
                            <i class="fas fa-trash md-36 m-1 trash-icon" (click)="deleteItem(estadio)"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<app-modal-view-estadio></app-modal-view-estadio>


<div class="modal fade" id="modalAddEstadio" tabindex="-1" aria-labelledby="modalAddProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddProductLabel">Agregar estadio</h5>
            </div>
            <div class="modal-body">
                <div class="form-row my-2">
                    <div class="col">
                        <label for="nameEstadio">Nombre</label>
                        <input type="text" id="nameEstadio" [(ngModel)]="nameEstadio" class="form-control" placeholder="Nombre estadio">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="cantEspectadores">Espectadores</label>
                        <input type="number" id="cantEspectadores" [(ngModel)]="cantEspectadores" class="form-control" placeholder="Cantidad de espectadores">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="ciudadEstadio">Ciudad</label>
                        <input type="text" id="ciudadEstadio" [(ngModel)]="ciudadEstadio" class="form-control" placeholder="Ciudad de ubicación">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalService.cerarModal('modalAddEstadio')" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="saveEstadio()">Agregar</button>
            </div>
        </div>
    </div>
</div>