<div class="body">
    <div class="register-box">
        <img src="https://i.pinimg.com/originals/45/44/e0/4544e02b395c3f2d694c921629e94c09.jpg" class="avatar" alt="Avatar Image">
        <h1>Vive la pasión de la tricolor</h1>
        <div class="form-register">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <input [(ngModel)]="name" type="text" class="form-control" placeholder="Nombres">
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="lastname" type="text" class="form-control" placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input [(ngModel)]="email" type="text" class="form-control" placeholder="Correo">
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="phone" type="text" class="form-control" placeholder="Celular">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-top: 22px; padding-left: 35px;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" [(ngModel)]="cedula" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio1">C.C</label>
                            </div>
                            <div class="form-check form-check-inline" style="padding-left: 15px;">
                                <input class="form-check-input" type="radio" [(ngModel)]="tarjeta_identidad" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio2">T.I</label>
                            </div>
                            <div class="form-check form-check-inline" style="padding-left: 15px;">
                                <input class="form-check-input" type="radio" [(ngModel)]="cedula_extranjera" id="inlineRadio3" value="3">
                                <label class="form-check-label" for="inlineRadio3">C.E</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="numero_documento" type="text" class="form-control" placeholder="Numero documento">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input [(ngModel)]="password" type="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="repeatPassword" type="password" class="form-control" placeholder="Confirmar Contraseña">
                        </div>
                    </div>
                    <div class="row button-check">
                        <div class="col-md-3 col-xs-5"></div>
                        <!-- <div class="col-md-5">
                        <button (click)="backLogin()" class="btn-block" type="button">
                            Volver
                        </button>
                    </div> -->
                        <div class="col-md-6">
                            <button (click)="register()" class="btn-block" type="button">
                          Registrarse
                      </button>
                        </div>
                        <div class="col-md-3 col-xs-5"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>