<div class="body">
    <div class="register-box">
        <img src="https://i.pinimg.com/originals/45/44/e0/4544e02b395c3f2d694c921629e94c09.jpg" class="avatar" alt="Avatar Image">
        <h1>Vive la pasión de la tricolor</h1>
        <div class="form-register">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <input id="nombre" [(ngModel)]="nombre" type="text" class="form-control" placeholder="Nombres">
                    </div>
                    <div class="col-md-6">
                        <input id="apellidos" [(ngModel)]="apellidos" type="text" class="form-control" placeholder="Apellidos">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input id="correo" [(ngModel)]="correo" type="text" class="form-control" placeholder="Correo">
                    </div>
                    <div class="col-md-6">
                        <input id="celular" [(ngModel)]="celular" type="text" class="form-control" placeholder="Celular">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input id="numero_documento" [(ngModel)]="numero_documento" type="text" class="form-control" placeholder="Numero documento">
                    </div>
                    <div class="col-md-6">
                        <input id="direccion" [(ngModel)]="direccion" type="text" class="form-control" placeholder="Direccion">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input id="ciudad" [(ngModel)]="ciudad" type="text" class="form-control" placeholder="Ciudad">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input id="password" [(ngModel)]="password" type="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="col-md-6">
                        <input id="repeatPassword" [(ngModel)]="repeatPassword" type="password" class="form-control" placeholder="Confirmar Contraseña">
                    </div>
                </div>
                <div class="row button-check">
                    <div class="col-md-3 col-xs-5"></div>
                    <div class="col-md-6">
                        <button (click)="register()" class="btn-block btn">
                        Registrarse
                    </button>
                    </div>
                    <div class="col-md-3 col-xs-5"></div>
                </div>
            </div>
        </div>
    </div>
</div>